@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
  }

  header {
    font-size: 2em;
    height: 5vh;
  }

  footer {
    width: 100%;
    font-size: 1em;
    min-height: 2vh;
    border-top-style: solid;
    border-top-width: 0.1em;
    border-color: black;
  }

  header {
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-color: dimgray;
  }

  .sideBar {
    min-height: 100%;
    width: 15vw;
    min-width: 140px;
  }

  .tasks {
    border-left-style: solid;
    border-left-width: 0.2em;
    border-color: dimgray;
    max-height: 100%;
    width: 85vw;
  }

  #content {
    display: flex;
    min-height: 93vh;
  }

  .projectHeader, .taskHeader {
    display: flex;
    padding: .5em;
    border-bottom-style: solid;
    border-color: dimgray;
    border-bottom-width: 0.2em;
    justify-content: center;
    font-size: 24px;
  }

  .projectTasks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-height: 100%;
    gap: .8em;
    padding: .8em;
  }

  .task {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    height: 10em;
    width: 10em;
    overflow: auto;
    border-radius: 2em;
    padding: 0.3em;
    gap: 6px;
  }

  .project.addProject {
    min-height: auto;
  }

  .project.addProject, .task.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: inherit;
    border: solid;
    border-width: 0.2em;
    border-color: black;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .project.addProject:hover, .task.addTask:hover {
    background-color: lightgrey;
  }

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    min-height: 84vh;
    gap: 0.8em;
    padding: 0.8em;
    
  }

  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    width: 90%;
    min-height: 2em;
    border-radius: 2em;
  }

  .addProject {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.2em;
    border-color: black;
    width: 90%;
    min-height: 2em;
    border-radius: 2em;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  .project:hover {
    background-color: lightblue;
  }